sem2/integracja/artistClient/src/wsdl/MusicWebServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://service.integracja.sem2.studia.urbaniak.org/" name="MusicWebServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.integracja.sem2.studia.urbaniak.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.integracja.sem2.studia.urbaniak.org/" schemaLocation="MusicWebServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="add">
    <part name="parameters" element="tns:add"/>
  </message>
  <message name="addResponse">
    <part name="parameters" element="tns:addResponse"/>
  </message>
  <message name="remove">
    <part name="parameters" element="tns:remove"/>
  </message>
  <message name="removeResponse">
    <part name="parameters" element="tns:removeResponse"/>
  </message>
  <message name="update">
    <part name="parameters" element="tns:update"/>
  </message>
  <message name="updateResponse">
    <part name="parameters" element="tns:updateResponse"/>
  </message>
  <message name="fetch">
    <part name="parameters" element="tns:fetch"/>
  </message>
  <message name="fetchResponse">
    <part name="parameters" element="tns:fetchResponse"/>
  </message>
  <portType name="MusicWebServiceImpl">
    <operation name="add">
      <input message="tns:add"/>
      <output message="tns:addResponse"/>
    </operation>
    <operation name="remove">
      <input message="tns:remove"/>
      <output message="tns:removeResponse"/>
    </operation>
    <operation name="update">
      <input message="tns:update"/>
      <output message="tns:updateResponse"/>
    </operation>
    <operation name="fetch">
      <input message="tns:fetch"/>
      <output message="tns:fetchResponse"/>
    </operation>
  </portType>
  <binding name="MusicWebServiceImplPortBinding" type="tns:MusicWebServiceImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="add">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="remove">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="fetch">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MusicWebServiceImplService">
    <port name="MusicWebServiceImplPort" binding="tns:MusicWebServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

